@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.main-container{
    display: none;
    opacity: 1;
}

.form-container, .main-container{
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.fade-out{
    opacity: 0;
}

.fade-in{
    opacity: 1;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2rem;
  background: whitesmoke;
  z-index: 1000;
}

.head {
  display: flex;
  justify-content: space-between;
}

.head > h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.head button{
  padding: 1rem;
  background: #fff;
  border: none;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}

.head button:hover{
  color: #fff;
  background: blue;
  transition: 1s ease-in-out;
}

.bank {
  color: blue;
}

header > .greeting {
  font-size: 2rem;
  font-weight: 450;
}

.container {
  display: flex;
  margin-top: 8.5rem;
  justify-content: space-between;
}

main {
  padding: 1rem 2rem;
  width: 65%;
}

.balance {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-right: 2rem;
}

footer span {
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1.7rem;
  font-weight: 600;
  box-shadow: 1px 1px 1px navy;
}

.balance > .your-balance {
  font-size: 12px;
  color: #000000a6;
}

.balance > .real-balance {
  font-size: 2rem;
  font-weight: 600;
}

main .other-balances {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.other-balances > .checking {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  background: blue;
  color: white;
  width: 50%;
  padding: 1rem;
}

.checking .checkin {
  font-weight: 600;
  letter-spacing: 1px;
}

.checking .check-balance {
  font-size: 1.5rem;
  font-weight: 550;
}

.other-balances > .saving {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  background: whitesmoke;
  color: #000;
  width: 50%;
  padding: 1rem;
}

.saving .savin {
  font-weight: 600;
  letter-spacing: 1px;
}

.saving .save-balance {
  font-size: 1.5rem;
  font-weight: 550;
}

.activitess {
  display: none;
}

.activites {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.activites .transfer,
.activitess .transfer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.transfer > .active {
  background: blue;
  padding: 0.6rem;
  border-radius: 50%;
}

.transfer span {
  font-weight: 600;
  color: #333;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 25%;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.send {
  background: rgba(245, 245, 245, 0.473);
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 128, 0.26);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

form > input {
  height: 2rem;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 128, 0.589);
  border-radius: 5px;
  background: transparent;
  outline: none;
  color: blue;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 550;
}

form button {
  height: 2rem;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 128, 0.589);
  border-radius: 5px;
  background: blue;
  outline: none;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
}

form p {
  font-size: 1rem;
  font-weight: 800;
  text-align: center;
}

.transact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.transact > .recent {
  font-size: 1.4rem;
  font-weight: 500;
}

.transact > .transactions {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.transactions > .transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 128, 0.589);
  border-radius: 5px;
  padding: 1rem 4rem 1rem 1rem;
}

.from-to {
  font-weight: 450;
  margin-bottom: 0.3rem;
}

.datee {
  font-size: 0.8rem;
}

.transaction > .transaction-deposit {
  color: blue;
  font-weight: 500;
}

.transaction > .transaction-withdrawal {
  color: red;
  font-weight: 500;
}

.total-deposit {
  color: blue;
}

.total-withdrawal {
  color: red;
}

.total-interst {
  color: goldenrod;
}

#errorMsg{
  color: red;
}

@media (max-width: 90rem) {
  main {
    width: 60%;
  }
  aside {
    width: 38%;
  }

  .balance > .real-balance {
    font-size: 1.5rem;
  }

  .bal {
    gap: 1rem;
  }

  footer {
    gap: 1.3rem;
    padding-right: 1rem;
  }

  footer span {
    border: none;
    padding: 0.3rem;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    box-shadow: 1px 1px 1px navy;
  }
}

@media (max-width: 45rem) {

  header {
  gap: 0.5rem;
}

  main {
    width: 100%;
    padding: 1rem 0.7rem;
  }
  aside {
    display: none;
  }

  header > .greeting {
  font-size: 1.6rem;
  font-weight: 450;
}


  .containerr form input, .containerr form button{
  width: 90%;
}

.containerr{
  padding: 2rem 1rem;
}


  .activitess {
    display: flex;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    margin-left: 0;
    background: whitesmoke;
    z-index: 1000;
  }

  footer span {
    border: none;
    padding: 0.8rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 1px 1px 1px navy;
  }

  .containerr{
  padding: 1rem;
}


}

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.containerr{
  border: 1px solid #000000ab;
  padding: 2rem;
  border-radius: 1rem;
}

.containerr h3{
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: blue;
  font-weight: 700;
}

.containerr p{
  color: #000000ab;
  font-weight: 650;
}

.containerr form{
  padding: 0;
  margin: 1.5rem 0;
}

.containerr form label{
  font-weight: 550;
}

.containerr form input{
  box-shadow: none;
  border: 1px solid rgba(128, 128, 128, 0.329);
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.containerr form input::placeholder{
  font-size: 13px;
  color:#000000ab;
}

.containerr form button{
  font-size: 1rem;
  font-weight: 550;
}
