@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: rgba(236, 236, 248, 0.795);
  --bg-color: rgb(2, 2, 134);
  --sec-bg-color: rgb(197, 214, 221);
  --color-bg: white;
  --color: black;
  --border-clr: black;
  --form-bg: rgb(218, 227, 231);
  --trns-color: #333;
  --input-color: blue;
  --deposit-clr: rgb(3, 3, 85);
}

.dark-theme {
  --main-bg: rgb(2, 2, 27);
  --sec-bg-color: rgb(2, 2, 58);
  --color-bg: black;
  --color: white;
  --border-clr: blue;
  --form-bg: rgba(2, 2, 58, 0.938);
  --trns-color: rgba(255, 255, 255, 0.555);
  --input-color: gold;
  --deposit-clr: rgb(197, 214, 221);
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  overflow-x: hidden;
  background: var(--main-bg);
  color: var(--color);
  /* background: black;
  color: white; */
  /* position: relative; */
}

.main-container {
  display: none;
  opacity: 1;
  position: relative;
  overflow: hidden;
  flex-shrink: 1;
}

.form-container,
.main-container {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 2rem;
  /* background: #333; */
  background: var(--sec-bg-color);
  z-index: 1000;
}

.head {
  display: flex;
  justify-content: space-between;
}

.head > h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

.head button {
  padding: 0.5rem;
  background: white;
  border: none;
  border-radius: 7px;
  font-size: 0.6rem;
  font-weight: 550;
  cursor: pointer;
}

.head button:hover {
  color: #fff;
  background: var(--bg-color);
  transition: 1s ease-in-out;
}

.bank {
  color: var(--bg-color);
}

.greeting {
  font-size: 1.5rem;
  font-weight: 400;
}

.switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  margin-top: 6.5rem;
  padding: 0 2rem;
  gap: 10%;
}

.main {
  padding: 1rem 2rem;
  width: 70%;
  margin-top: 0;
}

.container aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30%;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.balance {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-right: 2rem;
}

footer span {
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 1px 1px 1px navy;
}

.balance > .your-balance {
  font-size: 12px;
  color: var(--color);
}

.balance .real-balance {
  font-size: 2rem;
  font-weight: 600;
}

main .other-balances {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.other-balances > .checking {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
  background: var(--bg-color);
  color: var(--color);
  width: 50%;
  padding: 1rem;
}

.other-balances > .saving {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
  background: var(--sec-bg-color);
  color: var(--color);
  width: 50%;
  padding: 1rem;
}

.saving .savin,
.checking .checkin {
  font-weight: 600;
  letter-spacing: 0.7px;
}

.saving .save-balance,
.checking .check-balance {
  font-size: 1.2rem;
  font-weight: 550;
}

.activitess {
  display: none;
}

.activites {
  margin-top: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activites .transfer,
.activitess .transfer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

.transfer > .active {
  background: var(--bg-color);
  padding: 0.5rem;
  border-radius: 50%;
}

.transfer > .active:hover {
  background: rgba(0, 0, 255, 0.521);
  transition-duration: 0.5s;
}

.transfer span {
  font-weight: 500;
  font-size: 12px;
  color: var(--trns-color);
}

.asideForms .send {
  background: rgba(245, 245, 245, 0.473);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 128, 0.26);
  margin-bottom: 2rem;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background: var(--form-bg);
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

form > input {
  height: 1.5rem;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 128, 0.589);
  border-radius: 5px;
  background: transparent;
  outline: none;
  color: var(--color);
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: 550;
}

form button {
  height: 2rem;
  border: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 128, 0.589);
  border-radius: 5px;
  background: var(--bg-color);
  outline: none;
  color: white;
  padding: 1rem;
  margin-top: 0.7rem;
}

form p {
  font-size: 0.8rem;
  font-weight: 550;
  text-align: center;
}

select {
  height: 2rem;
  border: none;
  font-weight: 550;
  font-size: 1rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 128, 0.589);
  outline: none;
  cursor: pointer;
}

.transact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.transact > .recent {
  font-size: 1.4rem;
  font-weight: 500;
}

.transact > .transactions {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.transactions > .transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 128, 0.589);
  border-radius: 5px;
  padding: 1rem 4rem 1rem 1rem;
  font-weight: 700;
}

.from-to {
  font-weight: 450;
  margin-bottom: 0.3rem;
}

.datee {
  font-size: 0.8rem;
}

.transaction .datee {
  color: gray;
}

.transaction .transaction-deposit {
  color: var(--deposit-clr);
  font-weight: 800;
  font-size: 0.8rem;
}

.transaction .transaction-withdrawal {
  color: red;
  font-weight: 550;
  font-size: 0.8rem;
}

.total-deposit {
  color: var(--deposit-clr);
}

.total-withdrawal {
  color: red;
}

.total-interst {
  color: var(--form-bg);
}

#errorMsg {
  color: red;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.containerr {
  border: 1px solid var(--border-clr);
  padding: 2rem;
  border-radius: 1rem;
  width: 25rem;
}

.copyright {
  position: absolute;
  bottom: 0;
  font-size: 0.8rem;
  font-weight: 550;
}

.customer {
  padding: 0.4rem;
  border-right: 2px solid var(--color);
}

.containerr h3 {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: var(--bg-color);
  font-weight: 700;
}

.containerr h3 .bank-name {
  color: var(--color);
}

.containerr h3 .bank {
  color: var(--bg-color);
}

.containerr p {
  color: var(--color);
  font-weight: 650;
}

.containerr form {
  background: transparent;
  padding: 0;
  margin: 1.5rem 0;
}

.containerr form label {
  font-weight: 550;
}

.containerr form input {
  box-shadow: none;
  border: 1px solid rgba(128, 128, 128, 0.329);
  padding: 1.5rem;
  margin-bottom: 1rem;
  color: var(--color);
}

.containerr form input::placeholder {
  font-size: 0.7rem;
  color: var(--color);
}

.containerr form button {
  font-size: 1rem;
  font-weight: 550;
}

.payments {
  display: none;
}

button {
  cursor: pointer;
}

#infoCards {
  display: none;
  background: rgba(0, 0, 255, 0.801);
  width: 20rem;
  height: 10rem;
  position: absolute;
  top: 40%;
  left: 40%;
  border-radius: 7px;
  position: fixed;
  z-index: 1000;
}

#card {
  text-align: center;
  padding-top: 2rem;
  color: whitesmoke;
  font-size: 1.1rem;
  font-weight: 550;
  letter-spacing: 1px;
}

#forCards {
  margin: 1.5rem 45%;
  padding: 0.5rem 1rem;
  outline: 0;
  border: none;
  border-radius: 1rem;
  color: var(--bg-color);
  font-weight: 550;
}

#forCards:hover {
  background: lightblue;
  transition: 0.5s ease;
}

@media (max-width: 85rem) {
  .container {
    gap: 0;
    padding: 0;
  }

  .main {
    padding: 1rem 2rem;
    width: 55%;
    margin-top: 0;
  }

  .container aside {
    width: 45%;
  }

  .containerr {
    width: 20rem;
  }

  .balance > .real-balance {
    font-size: 1.5rem;
  }

  .bal {
    gap: 1rem;
  }

  .checking .checkno,
  .saving .saveno {
    font-size: 0.8rem;
  }

  .checking .check-balance,
  .saving .save-balance {
    font-size: 1rem;
  }

  footer {
    gap: 1.3rem;
    padding-right: 1rem;
  }

  footer span {
    border: none;
    padding: 0.3rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 1px 1px 1px navy;
  }
}

@media (max-width: 45rem) {
  header {
    gap: 1rem;
  }

  .head > h3 {
    font-size: 1.2rem;
  }

  #logoutBtn {
    font-size: 0.6rem;
    font-weight: 600;
  }

  .container {
    margin-top: 5.5rem;
    padding: 0;
  }

  .balance > .real-balance {
    font-size: 1.3rem;
  }

  .other-balances .checking,
  .other-balances .saving {
    padding: 0.5rem;
  }

  .checking .checkno,
  .saving .saveno {
    font-size: 0.9rem;
  }

  .checking .check-balance,
  .saving .save-balance {
    font-size: 1.2rem;
  }
  .main {
    width: 100%;
    padding: 1rem 0.7rem;
  }
  .container aside {
    display: none;
  }

  .greeting {
    font-size: 1.1rem;
    font-weight: 450;
  }

  .head button {
    padding: 0.5rem;
  }

  .containerr {
    width: 80%;
  }

  .containerr form input,
  .containerr form button {
    width: 95%;
  }

  .containerr {
    padding: 2rem 1rem;
  }

  .activitess {
    display: flex;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
  }

  .activitess .transfer img {
    width: 2.5rem;
  }

  .transact .recent {
    font-size: 1rem;
  }

  .from-to {
    font-weight: 350;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0.5rem;
    background: var(--sec-bg-color);
    z-index: 1000;
  }

  footer span {
    border: none;
    padding: 0.8rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 1px 1px 1px navy;
  }

  .containerr {
    padding: 1rem;
  }

  .payments {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 70%;
    top: 50%;
    left: 15%;
    bottom: 50%;
    right: 15%;
    z-index: 1000;
  }

  .transaction .transaction-deposit {
    font-weight: 400;
  }

  .transaction .transaction-withdrawal {
    font-weight: 400;
  }

  .transfer-reason {
    font-size: 0.8rem;
    font-weight: 400;
  }

  .from-to {
    font-size: 0.9rem;
  }

  .send {
    position: relative;
  }

  .sendOne,
  .sendTwo,
  .sendThree,
  .sendFour {
    width: 75%;
    background: var(--form-bg);
    font-size: 12px;
  }

  .sendOne {
    display: none;
  }

  .sendTwo {
    display: none;
  }

  .sendThree {
    display: none;
  }

  .sendFour {
    display: none;
  }

  .close {
    width: 20px;
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  #infoCards {
    width: 15rem;
    left: 20%;
  }
}
