@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem;
    background: whitesmoke;
}

.head{
    display: flex;
    justify-content: space-between;
}

.head > h3{
    font-size: 1.5rem;
    font-weight: 700;
}

.bank{
    color: blue;
}

header > .greeting{
    font-size: 2rem;
    font-weight: 450;
}

section{
    color: black;
}