@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem;
    background: whitesmoke;
}

.head{
    display: flex;
    justify-content: space-between;
}

.head > h3{
    font-size: 1.5rem;
    font-weight: 700;
}

.bank{
    color: blue;
}

header > .greeting{
    font-size: 2rem;
    font-weight: 450;
}

main{
    margin-top: 8.5rem;
    padding: 1rem 2rem;
}

.balance{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.balance > .your-balance{
    font-size: 12px;
    color: #000000a6;
}

.balance > .real-balance{
    font-size: 2rem;
    font-weight: 600;
}

main .other-balances{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.other-balances > .checking{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    background: blue;
    color: white;
    width: 50%;
    padding: 1rem;
}

.checking .checkin{
    font-weight: 600;
    letter-spacing: 1px;
}

.checking .check-balance{
    font-size: 1.5rem;
    font-weight: 550;
}

.other-balances > .saving{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    background: whitesmoke;
    color: #000;
    width: 50%;
    padding: 1rem;
}

.saving .savin{
    font-weight: 600;
    letter-spacing: 1px;
}

.saving .save-balance{
    font-size: 1.5rem;
    font-weight: 550;
}
