@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem;
    background: whitesmoke;
    z-index: 1000;
}

.head{
    display: flex;
    justify-content: space-between;
}

.head > h3{
    font-size: 1.5rem;
    font-weight: 700;
}

.bank{
    color: blue;
}

header > .greeting{
    font-size: 2rem;
    font-weight: 450;
}

.container{
    display: flex;
    margin-top: 8.5rem;
    justify-content: space-between;
}

main{
    padding: 1rem 2rem;
    width: 65%;
}

.balance{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.balance > .your-balance{
    font-size: 12px;
    color: #000000a6;
}

.balance > .real-balance{
    font-size: 2rem;
    font-weight: 600;
}

main .other-balances{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.other-balances > .checking{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    background: blue;
    color: white;
    width: 50%;
    padding: 1rem;
}

.checking .checkin{
    font-weight: 600;
    letter-spacing: 1px;
}

.checking .check-balance{
    font-size: 1.5rem;
    font-weight: 550;
}

.other-balances > .saving{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    background: whitesmoke;
    color: #000;
    width: 50%;
    padding: 1rem;
}

.saving .savin{
    font-weight: 600;
    letter-spacing: 1px;
}

.saving .save-balance{
    font-size: 1.5rem;
    font-weight: 550;
}

.activites{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.activites .transfer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.transfer > .active{
    background: blue;
    padding: 0.6rem;
    border-radius: 50%;
}

.transfer span{
    font-weight: 600;
    color: #333;
}

aside{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 25%;
    padding: 1rem 2rem;
    background: ;
    border-radius: 1rem;
}

.send{
    background: rgba(245, 245, 245, 0.473);
     border-radius: 5px;
     box-shadow: 1px 1px 1px 1px rgba(0, 0, 128, 0.26);
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

form > input{
    height: 2rem;
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 128, 0.589);
    border-radius: 5px;
    background: transparent;
    outline: none;
    color: blue;
    padding: 1rem;
}

form button{
     height: 2rem;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 128, 0.589);
    border-radius: 5px;
    background: blue;
    outline: none;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
}

form p{
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
}